*{
	box-sizing: border-box;
	border-collapse: separate;
}
.pad_dashboard{
	padding: 1vw 0vw 1vw 10vw;
	z-index: 1;
}

.border_dashboard{
	border-style: solid;
	border-width: 0.1vw;
	border-radius: 1vw;
	border-color: #dfe7ee;
	margin-left: 25%;
	width: 50%;
}

.pad{
	padding: 1vw 0vw 1vw 0vw;
}

.right_heading{
	padding-right: 9vw;
}

.right_subHeading{
	padding-right: 7vw;
}

.right_description{
	padding-right: 7vw;
}

.right_cost{
	padding-right: 10vw;
}

.button{
	padding-left: 10vw;
	padding-top: 1vw;
}