.header{
	margin-top: 2vw;
	display: flex;
}

.styling{
	padding: 1vw 60vw 0vw 10vw;
	font-style: italic;
	font-size: 3vw;
}

.profiles{
	display: flex;
	justify-content: flex-end;
}

.bordering{
	margin: 1vw;
	padding: 1vw;
	border-color: #dfe7ee;
	border-radius: 1vw;
	border-style: solid;
}
